aiohttp==2.3.2
altgraph==0.14
async-timeout==2.0.0
certifi==2017.7.27.1
chardet==3.0.4
future==0.16.0
idna==2.6
macholib==1.8
multidict==3.3.2
olefile==0.44
pefile==2017.9.3
Pillow==4.3.0
PyInstaller==3.3
pypiwin32==220
requests==2.18.4
telepot==12.4
urllib3==1.24.2
yarl==0.13.0
